* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

@font-face {
    font-family: 'Gotham Pro Black';
    src: 
    url('../fonts/GothamPro-Black.woff') format('woff'),
    url('../fonts/GothamPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Medium';
    src: 
    url('../fonts/GothamPro-Medium.woff') format('woff'),
    url('../fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::after,
::before {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    background-color: #050505;
}

img{
    display:block;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
    background: none;
}

button:active, button:focus {
    outline: none;
}
  
button::-moz-focus-inner {
    border: 0;
}

button:hover {
    cursor: pointer;
}

.header {
    width: 100%;
    height: 18%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 2;
}

.container {
    width: 65%;
    margin:  0 auto;
}

.banner_bonus {
    background: url('../images/banner_pic.jpg') center center/cover no-repeat;
    width: 100%;
    height: 100vh;
}

.banner_cash {
    background: url('../images/banner_cash.jpg') center center/cover no-repeat;
    width: 100%;
    height: 100vh;
}

.banner_content .and {
    color: #ef3737;
    font-size: 80px;
    font-family: 'Gotham Pro Medium';
}
.banner_content .bonus {
    font-size: 124px;
    font-family: 'Gotham Pro Black';
    letter-spacing: .7rem;    
}

.banner_content .hundred_bonus {
    font-size: 190px;
    color: #ef3737;
    font-family: 'Gotham Pro Black';
}

.banner_content {
    color: #f1f2f4;
    font-size: 77px;
    letter-spacing: .7rem;
    line-height: 1;
    font-family: 'Gotham Pro Medium';
    padding-top: 230px;
}

.banner_btn button {
    height: 90px;
    width: 50%;
    background-color: #ef3737;
    font-size: 40px;
    font-family: 'Gotham Pro Medium';
}

.steps {
    margin-top: -4px;
    position: relative;
}

.container_steps {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.steps::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0078d0;
}

.steps::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 100%;
    background-color: #0078d0;
}

.step_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 400;
}

.arrow_icon {   
    height: 91px;
    color: #ef3737;
}

.step_item span {
    padding-right: 9px;
    color: #ef3737;
    
}

.wrapper_features{
    padding-top: 140px;
    display: flex;
    justify-content: space-around;
}

.features_item {
    display: flex;
    flex-direction: column;
}

.features_text{
    text-align: center;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 30px
}

.features_icon{
    width: 130px;
    height: 130px;
}

.wrapper_room {
    padding-top: 10%;
    position: relative;
}

.room_title {
    font-size: 3.7rem;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.wrapper_room_items {
    padding: 13% 0 13% 0;
    display: flex;
    justify-content: space-evenly;
}

.game_item {
    display: block;
    width: 380px;
    margin-right: 5%;
    border: 1px solid #0078d0;
    
}

.wrapper_btn {
    display: flex;
    justify-content: center;
}

.btn_registr {
    width: 35%;
    height: 66px;
    background-color: #ef3737;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.btn_registr:hover {
    cursor: pointer;

}

.underline_desk {
    margin-top: 112px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0078d0;
}

.wrapper_payments {
    padding-top: 128px 0 128px 0;
    display: flex;
    justify-content: space-around;
}
.wrapper_payments img {
    width: 215px;
    height: 56px;
    margin-bottom: 53px;
}

.payment_item {
    margin-top: 8%;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    text-align: left;
}

.payments {
    position: relative;
}

.payments {
    background: url("../images/fire.png") center center/cover no-repeat;
    
}

.wrapper_btn_payments_deck {
    padding-top: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 


.btn_payments {
    width: 25%;
    height: 66px;
    border: 2px solid #ef3737;
    font-family: 'Lato', 'sans-serif';
    font-size: 24px;
    margin-left: 15px;
}

.btn_payments:hover {
    background-color: #ef3737;
}

.accordion {
    display: none;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #050505;
    z-index: 999;
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    min-height: 80%;
    max-width: 100%;
    background: url('../images/bg_form.jpg') center center/cover no-repeat;
}
.modal_title{
    font-weight: 400;
    font-size: 64px;
    line-height: 0.95;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}
.modal_text{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 4%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.modal_form{
    margin: 0 auto;
    width: 70%;
}

.countries option {
    color: black;
    font-family: 'Roboto', sans-serif; 
    outline: none; 
    
}
.countries {
    color: black;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: 25%;
    margin: 0 5px 23px 0; 
}

.password {
    display: flex;
    justify-content: space-between;
}
.pass_item {
    width: 49%;
}
input[type=email] {
    width: 100%;
}

.code_list {
    display: flex;
    justify-content: space-between;
}

input[type=tel] {
    width: 78%;
    margin-left: 7px;
}

input[type=text] {
    width: 100%;
}
input {
    height: 60px;
    outline: none;
    border: none;
    margin-bottom: 23px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.wrapper_btn_register {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.register{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    background: #EF3737;
    color: #FFFFFF;
    width: 50%;
    height: 80px;
    margin-top: 5%;
}

.close {
    font-size: 3rem;
    position: absolute;
    right: 0;
}



@media (max-width: 875px) {
    .header .logo {
        height: 100px;
    }
    .step_item {
        font-size: 100%;
    }
    .wrapper_features {
        flex-wrap: wrap;
    }
    .payment_item {
        font-size: 1rem;
    }
@media (max-width: 480px) {
    .header .logo {
        height: 100px;
    }
    .countries {
        width: 100%;
    }
    .banner_btn button {
        width: 95%;
        height: 90px;
        font-size: 2rem;
    }
    .banner_content .hundred_bonus {
        font-size: 90px;
    }
    .banner_bonus {
        background-position: right;
    }
    .banner_cash {
        background-position: right;
    }
    .banner_content .bonus {
        font-size: 70px;
    }
    .password {
        flex-direction: column;
    }
    .code_list {
        flex-direction: column;
    }
    .modal_form {
        display: flex;
        flex-direction: column;
    }
    .register {
        font-size: 1.5rem;
    }
    .modal_title {
        font-size: 1.5rem;
    }
    .modal_text {
        font-size: 1rem;
    }
    input[type=tel] {
        margin-left: 0;
    }
    .modal_form input {
        width: 100%;
    }
    .wrapper_btn_payments_deck {
        display: none;
    }
    .arrow_icon {
        display: none;
    }
    .container_steps {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        height: 150px;
    }  
    .step_item {
        font-size: 100%;
    }
    .step_item span {
        padding-left: 30px;
    }
    .step_item::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #0078d0;  
        bottom: 33%;
        left: 0;
    }
    .step_item::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #0078d0;  
        top: 32%;
        left: 0;
    }
   
    .header {
        height: 18%;
        width: 100%;
    }
    .header .logo {
        margin: 0 auto;
    }
    .wrapper_room_items {
        flex-direction: column;
    }
    .game_item {
        margin-bottom: 5%;
    }
    .btn_registr {
        width: 87%;
    }
    .underline_desk {
        display: none;
    }
    .underline_mob {
        margin-top: 25%;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #0078d0;
    }
    .wrapper_payments {
        display: none;
    }

    .accordion {
        display: block;
    }
    .accordion_item {
        margin-bottom: 20px;
        position: relative;
    
    }
    .accordion_item_trigger {
        display: block;
        padding: 30px;
        width:  100%;
        position: relative;
    }
    .accordion_item_content {
        
        padding-bottom: 50px;
        display: none;
    }
    .accordion_item {
        border-bottom: 1px solid #ffffff;
    }
    .accordion_item_input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    .accordion_item_trigger .unchecked {
        font-size: 2.1rem;
        position: absolute;
        right: 0;
        top: 35%;
    }
    .checked {
        font-size: 2.1rem;
        position: absolute;
        right: 0;
        top: 35%;
        display: none;
    }

    .accordion_item_content ul {
        padding-left: 25px;
        font-family: 'Lato', sans-serif;
    }

    .accordion_item_input:checked ~ .accordion_item_trigger .unchecked {
        display: none;
    }

    .accordion_item_input:checked ~ .accordion_item_trigger .checked {
        display: block;
    }
    .accordion_item_input:checked ~ .accordion_item_content {
        display: block;
    }

    .accordion_item img {
        width: 187px;
        height: 40px;
    }

    .wrapper_btn_payments {
        margin-top: 10%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 870px){
    .header .logo {
        height: 100px;
    }
    .banner_content {
        padding-top: 240px;
        font-size: 50px;
    }
    .banner_content .hundred_bonus {
        font-size: 90px;
    }
    .banner_btn button{
        width: 100%;
    }
}

@media (max-width: 660px) {
    .header .logo {
        height: 100px;
    }
    .banner_bonus {
        background-position: right;
    }
    .banner_cash {
        background-position: right;
    }
    .banner_btn button{
        width: 100%;
    }
    .banner_content {
        padding-top: 240px;
        font-size: 50px;
    }
    .banner_content .bonus {
        font-size: 90px;
    }
    .banner_content .hundred_bonus {
        font-size: 90px;
    }
    .modal_form {
        display: flex;
        flex-direction: column;
    }
    input[type=tel] {
        margin-left: 0;
    }
    .wrapper_btn_payments_deck {
        display: none;
    }
    .arrow_icon {
        display: none;
    }
    .wrapper_btn_payments {
        margin-top: 10%;
        display: flex;
        justify-content: center;
    }
    .container_steps {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        height: 150px;
    }  
    .step_item {
        font-size: 100%;
    }
    .step_item span {
        padding-left: 30px;
    }
    .step_item::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #0078d0;  
        bottom: 33%;
        left: 0;
    }
    .step_item::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #0078d0;  
        top: 32%;
        left: 0;
    }
   
    .header {
        height: 20%;
        width: 100%;
    }
    .header .logo {
        margin: 0 auto;
    }
    .wrapper_room_items {
        flex-direction: column;
    }
    .game_item {
        margin-bottom: 5%;
    }
    .btn_registr {
        width: 87%;
    }
    .underline_desk {
        display: none;
    }
    .underline_mob {
        margin-top: 25%;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #0078d0;
    }
    .wrapper_payments {
        display: none;
    }

    .accordion {
        display: block;

    }
    .accordion_item {
        margin-bottom: 20px;
        position: relative;
    
    }
    .accordion_item_trigger {
        display: block;
        padding: 30px;
        width:  100%;
        position: relative;
    }
    .accordion_item_content {
        
        padding-bottom: 50px;
        display: none;
    }
    .accordion_item {
        border-bottom: 1px solid #ffffff;
    }
    .accordion_item_input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    .accordion_item_trigger .unchecked {
        font-size: 2.1rem;
        position: absolute;
        right: 0;
        top: 35%;
    }
    .checked {
        font-size: 2.1rem;
        position: absolute;
        right: 0;
        top: 35%;
        display: none;
    }

    .accordion_item_content ul {
        padding-left: 25px;
        font-family: 'Lato', sans-serif;
    }

    .accordion_item_input:checked ~ .accordion_item_trigger .unchecked {
        display: none;
    }

    .accordion_item_input:checked ~ .accordion_item_trigger .checked {
        display: block;
    }
    .accordion_item_input:checked ~ .accordion_item_content {
        display: block;
    }

    .btn_payments {
        width: 70%;
    }

    .accordion_item img {
        width: 187px;
        height: 40px;
    }
}
